@font-face {
    font-family: 'ArbFONTS-DroidKufi';
    src: url('@/assets/fonts/ArbFONTS-DroidKufi.ttf') format('truetype');
}

@font-face {
    font-family: 'ExpoArabic';
    src: url('@/assets/fonts/ExpoArabic.ttf') format('truetype');
}

@font-face {
    font-family: 'PublicSans';
    src: url('@/assets/fonts/PublicSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Alexandria';
    src: url('@/assets/fonts/Alexandria.ttf') format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    src: url('@/assets/fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tajawal Light';
    src: url('@/assets/fonts/Tajawal-Light.ttf') format('truetype');
}
